{% extends "base.html.twig" %}
{% block body %}
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Business Name or Tagline</h1>
            <p class="text-justify">
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but
                it makes a great use of the standard Bootstrap core components. Feel free to use this template for any
                project you want!
            </p>
            <p class="text-center">
                <a class="btn btn-primary" href="#">Call to Action!</a>
            </p>
        </div>
    </div>

    <div class="row">
        {% for article in articles %}
            <div class="col-lg-3 col-md-4 pb-3">
                <a href="{{ path('article.show', { 'id' : article.id }) }}" class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <img src="https://via.placeholder.com/35x35" class="rounded" alt="...">
                            <span class="ml-2">Nom du vendeur</span>
                        </li>
                    </ul>
                    <img class="card-img-top" src="https://via.placeholder.com/180x100?text=Photo+Article"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4>PRIX €</h4>
                        <p class="card-text text-muted">
                            {{ article.title }} <br/>
                            Intégral
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

