{% extends 'base.html.twig' %}

{% block title %}Editer un Article{% endblock %}

{% block body %}

    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Editer un article</h5>
                    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
